:root {
    --primary: #ff6200;
    --secondary: #525252;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    max-width: 1200px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

/*header*/
.header-section {
    background-color: var(--primary);
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.header-info {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

.section-info {
    display: flex;
}

.header-title1 {
    font-family: 'bebas', sans-serif;
    font-size: 20px;
    color: #be3600;
    padding: 10px 10px 10px 0;
}

.header-title2 {
    font-family: 'bebas', sans-serif;
    font-size: 20px;
    color: #ffffff;
    padding: 10px 0;
}

/*nav section*/
.nav-section {
    background-color: #f9f9f9;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.nav {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    font-family: 'bebas', sans-serif;
}

.your-logo {
    font-size: 55px;
}

.logo-your {
    color: var(--secondary);
}

.logo-logo {
    color: var(--primary);
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    margin: auto 0;
}

.nav-link {
    color: var(--secondary);
    padding: 0 10px;
}

.dropdown-menu {
    display: none;
}

/*content*/
.content {
   font-family: 'ubuntu', sans-serif;
}

.content-tabs {
    font-size: 19px;
    color: #adadad;
    display: flex;
}

.content-item {
    padding-right: 5px;
}

.active {
    color: var(--secondary);
}

.content-title {
    color: var(--primary);
    font-size: 36px;
}

.tab-content {
    /*display: none;*/
}

/*contact form*/
.contact-info {
    margin: 0 auto;
    display: grid;
    grid-template-columns: calc(60% - 50px) calc(40% - 50px);
    gap:100px;
}

.contact-title {
    color: var(--primary);
    font-size: 31px;
    border-bottom: var(--secondary) 10px solid;
    padding: 10px 0;
}

.contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 10px auto;
}

#formMessage {
    grid-column: 1 / -1;
}

#formName {
    grid-column: 1 / -1;
}

.form-input {
    border: 1px solid #adadad;
    padding: 10px;
    font-size: 19px;
    background-color: #f6f6f6;
}

#contactSubmit {
    background-color: var(--primary);
    color: white;
    border: none;
    width: 150px;
    height: 50px;
    font-size: 18px;
}


/*reach us*/
.reach-us {
    font-size: 19px;
}

.company-name {
    padding: 5px 0;
    font-size: 22px;
}

.social-links {
    display: flex;
    font-size: 30px;
}

.social-links li {
    padding-right: 10px;
    padding-top: 50px;
}


